@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap'); /* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Roboto:wght@300;400&display=swap'); /* font-family: 'Nunito', sans-serif; */
body
{
    margin: 0 auto;
    padding: 0;
    width: 80%;

}
header
{
    padding: 20px;
    background-image: radial-gradient(white, lightblue);
    overflow: hidden;

}

header h1
{
    font-family: 'Roboto', sans-serif;
    height: 20px;
   
   
}
header p
{
    font-family: 'Nunito', sans-serif;
    
}
.nav_b
{
    display: none;
}
nav
{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    gap:20px;
    
}
.Active_page
{
   color: white;
   text-shadow: 1px 1px black;
}
nav a
{
    background-color: lightblue;
    padding: 5px;
    
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    border-radius: 5%;
    font-size: medium;
}
nav a:hover
{
    background-color: white;
    font-size: large;
    color: black;
    padding: 2px;
}
.total
{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.total h1
{
    color: lightblue;
    text-align: center;
    text-shadow: 1px 1px black;
    font-family: 'Roboto', sans-serif;
}

.container
{
    padding: 40px;
    margin: 10px;
    font-family: 'Nunito', sans-serif;
    background-image: radial-gradient(pink, skyblue);
    box-shadow: 1px 1px 10px 1px black;
    
    border-radius: 15px;
    
}
.container table
{
    width: 100%;
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;

}

.container table td
{
    width: 50%;
    text-align: left;
    border-bottom: 1px dotted grey;
    
    
}
.container table tr:last-child td
{
    border-bottom: none;
}

.down
{
    width: 90%;
    margin: 0 auto;
    font-family: 'Nunito', sans-serif;
    
}
.down form 
{
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    background-image: radial-gradient(white, yellow);
    padding: 50px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px 0px black;
}
.down form .rows
{
    display: flex;
    flex-direction: column;
    padding: 10px;

}
.down form .rows input , .down form .rows select
{
    padding: 10px;
    border-radius: 10px;
}
.down form .actions 
{
   display: flex;
   flex-direction: row;
   justify-content: center;
   gap: 25%;
}
.down form .actions button
{
    padding: 10px;
    color: black;
    background-color: skyblue;
    border-radius: 5px;
}

footer
{
    
    margin: 0 auto;
    width: 90%;
    margin-top: 20px;
    background-image: radial-gradient(white, lightblue);
    padding: 30px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
}
footer h1
{
    height: 10px;
}
footer ul
{
    list-style:none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:50px;
   
}
footer a
{
    text-decoration: none;
}


/*-------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 480px) {


body
{
    width: 100%;
}

header
{
    display: flex;
    flex-direction: column;
    gap:20px;
    width: 100%;
    justify-content: center;
    text-align: center;
    
    
    
}

.nav_b
{
    display: block;
    width: 80px;
    padding: 10px;
    border-radius: 5px;
    background-image: radial-gradient(white, skyblue);
    
}
nav
{
    
    display: flex;
    flex-direction: column;
    width: 100%;
    transform: translateX(250px);
    justify-content:right;
    

}
nav a 
{
    width: 80px;
    display: none;
    
}

header h1
{
    font-size:25px;
}
.total{ width: 100%;
margin:0 auto;
text-align: center;

}

.total p
{
    padding: 20px;
}
.container 
{
    margin: 20px;
}

.container ul
{
    text-align: left;
}
.down , .down form 
{
    width: 90%;
    box-sizing: border-box;
    margin: auto;
    
}
footer
{
    width: 80%;
    display: flex;
    
}
footer h2
{
    height: 5px;
}
footer ul 
{
    flex-direction: column;
}
footer ul a 
{
    height: 2px;
}

}
