@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap'); /* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Roboto:wght@300;400&display=swap'); /* font-family: 'Nunito', sans-serif; */
body
{
    margin: 0 auto;
    padding: 0;
    width: 80%;

}
header
{
    padding: 20px;
    background-image: radial-gradient(white, lightblue);
    overflow: hidden;

}

header h1
{
    font-family: 'Roboto', sans-serif;
    height: 20px;
   
   
}
header p
{
    font-family: 'Nunito', sans-serif;
    
}
.nav_b
{
    display: none;
}
nav
{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    gap:20px;
    
}
.Active_page
{
   color: white;
   text-shadow: 1px 1px black;
}
nav a
{
    background-color: lightblue;
    padding: 5px;
    
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    border-radius: 5%;
    font-size: medium;
}
nav a:hover
{
    background-color: white;
    font-size: large;
    color: black;
    padding: 2px;
}
.total
{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.total .upper
{
    padding: 40px;
    margin: 10px;
    overflow: hidden;
    background-image: url(image_resources/teacher.png);
    background-size: cover;
    height: 500px;
    font-family: 'Nunito', sans-serif;
    color: white;
    text-shadow: 1px 1px black;

}
.headlines 
{
   
    background-color: rgba(0, 0, 0, 0.301);
    margin-top: 40%;
    text-align: center;
}

.container
{
    padding: 10px;
    margin: 10px;
    border-bottom: 1px solid grey;
    font-family: 'Nunito', sans-serif;
}
.container:last-child
{
    border-bottom: none;
}
.container h2
{
    color: rgb(0, 191, 255);
    text-shadow: 1px 1px black;
    font-family: 'Nunito', sans-serif;
   
    letter-spacing: 2px;
}
.container p
{
    font-family: 'Nunito', sans-serif;
    font-size: large;
}

.container table
{
    border: 1px solid grey;
    font-family: 'Nunito', sans-serif;
    border-radius: 15px;
    padding: 20px;
    width: 100%;
}
.container table td
{
    border-bottom: 1px grey dotted;
    width: 50%;
    text-align: left;
    padding: 5px ;
}


.container table tr:first-child td { border-bottom: solid 1px grey}
.container table tr:last-child td { border-bottom: none }

.down
{
    width: 50%;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    background-color: pink;
    border-radius: 15px;
}
.down h1
{
    font-family: 'Roboto', sans-serif;
    color: white;
    text-shadow: 1px 1px black;
}
.down button
{
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 25px;
    background-image: radial-gradient(white, lightblue);
}
.down button a
{
    padding: 0;
    font-size: larger;
    color: red;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    
}


footer
{
    
    margin: 0 auto;
    width: 90%;
    margin-top: 20px;
    background-image: radial-gradient(white, lightblue);
    padding: 30px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
}
footer h1
{
    height: 10px;
}
footer ul
{
    list-style:none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:50px;
   
}
footer a
{
    text-decoration: none;
}


/*-------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 480px) {


body
{
    width: 100%;
}

header
{
    display: flex;
    flex-direction: column;
    gap:20px;
    width: 90%;
    justify-content: center;
    text-align: center;
    
    
}

.nav_b
{
    display: block;
    width: 80px;
    padding: 10px;
    border-radius: 5px;
    background-image: radial-gradient(white, skyblue);
    
}
nav
{
    
    display: flex;
    flex-direction: column;
    width: 100%;
    transform: translateX(250px);
    justify-content:right;
    

}
nav a 
{
    width: 100px;
    display: none;
    
    
}

header h1
{
    font-size:25px;
}
.total{ width: 100%;
margin:0 auto;
text-align: center;

}
.total
{
    width: 100%;
}

.total .upper
{
    
    background-size: cover;
    height: 350px;
    width: 80%;
    margin: 0 auto;
    background-position: center;
    font-family: 'Nunito', sans-serif;
    color: white;
    text-shadow: 1px 1px black;

}
    
.headlines 
{
    
    background-color: rgba(0, 0, 0, 0.301);
    margin-top: 50%;
   
}
.total p
{
    padding: 20px;
}
.container
{
    width: 80%;
    margin: 0 auto;
}
.container ul li 
{
    text-align: left;
}

.down
{
   margin:10px auto;
   
   
}
footer
{
    width: 80%;
    display: flex;
    
}
footer h2
{
    height: 5px;
}
footer ul 
{
    flex-direction: column;
}
footer ul a 
{
    height: 2px;
}

}
